header.site-header {
    z-index: 9;
}

header.site-header a.site-title {
  font-size: 2 * $h2;
  font-weight: 700;
  letter-spacing: -.1rem;
  color: $red;
  display: block;
  margin-left: 0;
}

header.site-header .site-nav {

  a:hover{
    border-bottom: none;
    background-color: $red;
    opacity: .8;

    h4, h2 {
      color: #fff; text-shadow: none;
    }
  }

  a span:first-child {
    font-family: Allegreya;
    font-style: italic;
    vertical-align: super;
    text-transform: lowercase;
    border: none;
  }

  a span:nth-child(2) {
    display: inline-block;
    font-size: $h2 * 1.2;
    transform: rotate(7deg);
    vertical-align: sub;
    margin: 0 -.1rem;
  }

  a span:nth-child(3) {
    vertical-align: sub;
    text-transform: lowercase;
  }
}

.page .h2 { padding-top: 3.5 * $h2; }

.panel {
  // height: 50vh;
  // border-bottom: 1px solid $red;
  h2 { padding-top: 5 * $h2; }
}

.panel:last-child {
  border-bottom: none;
}

.panel#definition {

  height: 100vh;
  padding-top: 1.5 * $h2;

  h2 { padding-top: 0; }

  #services {
    margin-top: 3 * $h2;
  }
}

.emphasis {
  color: $dark-gray;
  font-size: $h3;
}

.home #nav-arrow {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: $h1;
    color: $red;
    margin-right: 1rem;
    display: none;
}

#services {
    padding: 0;
  li{
    display: inline-block;
    margin-right: 1em;
    color: $red;
  }
  li:before {
    content:"";
  }
  a:link {
    text-decoration: underline;
    color: $red;
  }
  a:hover {
    text-decoration: none;
    color: $dark-gray;
  }
}

@media screen and (max-width: $viewport-small) {

  .panel {

    h2 { padding-top: 5 * $h2; }

    p {
      font-size: $h3;
    }
  }

  .panel, .panel#definition {

    border-bottom: none;
    height: 60vh;
    padding-top: 0;
  }

  .panel#definition #services { margin-top: $h2; }

  .page .h2 { padding-top: 0; }
}

.email {
  direction:rtl;
  unicode-bidi:bidi-override;
}

.page {

  padding-bottom: $h1;

  h3 {
    margin: $h1 0 $h2 0;
  }

  p {
      color: $dark-gray;
  font-size: $h3;
  }

  ul {
    list-style-type: none;
    padding-left: $h3 / 2;
  }

  li {
    margin-bottom: $h3 / 2;
  }

  li:before {
    content: "/  ";
    font-weight: 600;
  }
}

.post-header {
  margin: $h1 0 $h2 0;
}

.button-red {
  @extend .button-blue;
  background-color: $red;
}

.button-red:hover {
  border: 1px solid $red;
}