#services a {
  display: inline-block;
  margin-right: 1em;
  color: $red;
}

header.site-header {
    z-index: 9;
}

header.site-header a.site-title span{
  font-size: 2 * $h2;
  font-weight: 700;
  letter-spacing: -.1rem;
  color: $red;
  display: block;
  margin-left: 0;
}

header.site-header .site-nav {
  a span:first-child {
    font-family: Allegreya;
    font-style: italic;
    vertical-align: super;
    text-transform: lowercase;
  }
  a span:last-child {
    vertical-align: sub;
    text-transform: lowercase;
  }
}

.panel {
  height: 50vh;
  border-bottom: 1px solid $red;
  h2 { padding-top: 5 * $h2; }
}

.panel:last-child {
  border-bottom: none;
}

.panel#definition {

  height: 100vh;

  p {
    padding-top: 10 * $h2;
    color: $dark-gray;
    font-size: $h3;
  }

  h2 { padding-top: 0; }

  #services {
    margin-top: 5 * $h2;
  }
}

.home #nav-arrow {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: $h1;
    color: $red;
    margin-right: 1rem;
    display: none;
}

@media screen and (max-width: $viewport-small) {
  .panel {
    border-bottom: none;
    height: 100vh;

    p {
      font-size: $h3;
    }
  }

  .panel#definition {
    overflow-y: hidden;
  }
}

.email {
  direction:rtl;
  unicode-bidi:bidi-override;
}

.page {

  padding-bottom: $h1;

  h3 {
    margin: $h1 0 $h2 0;
  }
}

.post-header {
  margin: $h1 0 $h2 0;
}

.button-red {
  @extend .button-blue;
  background-color: $red;
}

#liblab{
  :first-child{
    font-family: helvetica;
  }
  :last-child{

  }
}