header.site-header {
    z-index: 9;
}

header.site-header a.site-title {
  font-weight: 700;
  letter-spacing: -.1rem;
  color: $red;
  display: block;
  margin-left: 0;
  font-size: 2 * $h2;

  & span#home { 
      font-size: 4 * $h2;  
      -webkit-transition: font-size .3s;
      -moz-transition: font-size .3s;
      -o-transition: font-size .3s;
      transition: font-size .3s;
  }

  @media screen and (min-width: $viewport-medium) {
    & span#home.little { font-size: 2 * $h2; }
  }
}

header.site-header .site-nav {

  a:hover{
    border-bottom: none;
    background-color: $red;
    opacity: .8;

    h4, h2 {
      color: #fff; text-shadow: none;
    }
  }

  a span:first-child {
    font-family: Allegreya;
    font-style: italic;
    vertical-align: super;
    text-transform: lowercase;
    border: none;
  }

  a span:nth-child(2) {
    display: inline-block;
    font-size: $h2 * 1.2;
    transform: rotate(7deg);
    vertical-align: sub;
    margin: 0 -.1rem;
  }

  a span:nth-child(3) {
    vertical-align: sub;
    text-transform: lowercase;
  }
}

.page .h2 { padding-top: 3.5 * $h2; }

.panel {
  // height: 50vh;
  // border-bottom: 1px solid $red;
  h2 { padding-top: 5 * $h2; }
}

.panel:last-child {
  border-bottom: none;
}

.panel#definition {

  height: 100vh;
  padding-top: 1.5 * $h2;

  h2 { padding-top: 0; }

  #services {
    margin-top: 3 * $h2;
  }
}

.emphasis {
  color: $dark-gray;
  font-size: $h3;
}

.home #nav-arrow {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: $h1;
    color: $red;
    margin-right: 1rem;
    display: none;
}

#services {
    padding: 0;
  li{
    display: inline-block;
    margin-right: 1em;
    color: $red;
  }
  li:before {
    content:"";
  }
  a:link {
    text-decoration: underline;
    color: $red;
  }
  a:hover {
    text-decoration: none;
    color: $dark-gray;
  }
}

@media screen and (max-width: $viewport-small) {

  .panel {

    h2 { padding-top: 5 * $h2; }

    p {
      font-size: $h3;
    }
  }

  .panel, .panel#definition {

    border-bottom: none;
    height: 60vh;
    padding-top: 0;
  }

  .panel#definition #services { margin-top: $h2; }

  .page .h2 { padding-top: 0; }
}

.email {
  direction:rtl;
  unicode-bidi:bidi-override;
}

.page {

  padding-bottom: $h1;

  h3 {
    margin: $h1 0 $h2 0;
  }

  p {
      color: $dark-gray;
  font-size: $h3;
  }

  ul {
    list-style-type: none;
    padding-left: $h3 / 2;
  }

  li {
    margin-bottom: $h3 / 2;
  }

  li:before {
    content: "/  ";
    font-weight: 600;
  }
}

.post-header {
  margin: $h1 0 $h2 0;
}

.post-footer {
  text-align: inherit;
  position: relative;
  padding-top: 1rem;
  border-top: 1px solid $dark-gray;
}

.post-footer p {
  word-wrap: break-word;
  font-size: $base-font-size * 1.25;
  padding-left: 120px;
  min-height: 100px;
}

.post-footer .avatar {
  position: absolute;
  margin: 0;
  left: 0;
  border-radius: none;
  height: 100px;
  width: 100px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  border-radius: 50%;
}

.fellows-gallery .fellow {
  
  height: 210px;
  margin-bottom: 1rem;

  & .avatar {
    float: left;
    display: inline-block;
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    border-radius: 50%;
  }

  & .bio {
    display: inline-block;
    float: left;
    width: 70%;
    height: 100%;
    margin-left: 1rem;

    @media screen and (max-width: $viewport-medium) { margin-left: 0; }

    & p, & h3 {
      font-size: 1rem;
    }
  }

}

.button-red {
  @extend .button-blue;
  background-color: $red;
}

.button-red:hover {
  border: 1px solid $red;
}

.mb2 {
  margin-top: 2*$h1;
}