/*PLAY AROUND WITH THE CSS*/


body, html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    min-height: 100vh;
}

h1,h2,h3,h4,h5 {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 700;
}

p {
    margin-bottom: 1em;
}
.column {
    float: left;
    width: 44%;
    border: 1px solid #ddd;
    padding: 1em;
}

.column#two {
    float: right;
}

@media screen and (max-width: 768px) {
     .column {
        width: 100vw;
        border: 1px dotted #f00;
     }
 }

 .grad {
  background-color: #F07575; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(45deg, rgb(255,83,13) 5%, rgb(232,44,12) 10%,rgb(232,12,122) 15%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image:    -moz-linear-gradient(45deg, rgb(255,83,13) 5%, rgb(232,44,12) 10%,rgb(232,12,122) 15%); /* For Firefox (3.6 to 15) */
  background-image:      -o-linear-gradient(45deg, rgb(255,83,13) 5%, rgb(232,44,12) 10%,rgb(232,12,122) 15%); /* For old Opera (11.1 to 12.0) */ 
  background-image:         repeating-linear-gradient(45deg, rgb(255,83,13) 5%, rgb(232,44,12) 10%,rgb(232,12,122) 15%); /* Standard syntax; must be last */
}